.table_align{
    text-align: center;
    margin-top: 10vh;
}
.title_host{
    background-color: rgb(37, 36, 36);
}
.table_host{
    background-color: rgb(73, 71, 71);
}
.title_host label{
    font-weight: bold;
}
.table_host label{
    font-weight: bold;
}
i{
    margin-left: 20px;
    color: rgb(255, 249, 249);
}
.custom{
    text-align: center !important;
    margin-top: 30px;
}
.field_disabled{
    color: white;
    box-sizing: border-box;
    background-color: rgb(74, 71, 71);
    padding: 7px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 4px;
}